.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: color(display-p3 0.2235 0.2235 0.2235);
  height: 100vh;
}

.cards {
  .cards__card {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 30px;
      color: #fff;
      margin: 0;
    }
    p {
      color: white;
    }
  }

  button {
    width: 110px;
    height: 36px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    background-color: inherit;
    margin-top: 20px;
    border: 1px solid white;
  }
}
